<article class="book">
	<section class="book-head">
		<h1><%= @book.name %></h1>
		<%= link_to 'Edit', edit_book_path(@book) %>
		|
		<%= link_to 'Delete', book_path(@book), method: :delete, data: { confirm: 'Do you want delete this book?'} %>
	</section>

	<section class="book-body">
		<h5>Genre:</h3>
		<%= @book.genre %>
	</section>
	<section class="book-body">
		<h5>Descriptions:</h3>
		<%= @book.descriptions %>
	</section>
	<section class="book-body">
		<h5>Treasure:</h3>
		<%= @book.treasure%>
	</section>
	<section class="book-body">
		<h5>Author:</h3>
		<%= @book.autor.last_name+" "+@book.autor.name %>
	</section>
	
</article>